#### csv 파일 DF으로 저장
- pandas.read_csv() 함수 사용

In [68]:
# 모듈 로딩
import pandas as pd

In [69]:
# 데이터 준비 - 파일
data_file=r'C:\Users\KDP-23\Desktop\python\py_pandas\Day02_0712\data.csv'
data_file1=r'C:\Users\KDP-23\Desktop\python\py_pandas\Day02_0712\data1.csv'

In [70]:
# csv 파일 ==> DataFrame으로 저장
csvDF=pd.read_csv(data_file)

In [71]:
# 저장된 DF 확인
csvDF

   no  name  age gander
0   1  Hong   10      F
1   2  Park   13      F
2   3   Kim   12      M
3   4   Lee   16      F
4   5   Lim   17      M

In [72]:
# csv 파일 ====> DF으로 저장
csvDF1=pd.read_csv(data_file1, sep=' ', header=None)

In [73]:
csvDF1

   0     1   2  3
0  1  Hong  10  F
1  2  Park  13  F
2  3   Kim  12  M
3  4   Lee  16  F
4  5   Lim  17  M

In [74]:
csvDF1.columns

Index([0, 1, 2, 3], dtype='int64')

In [75]:
csvDF1.index

RangeIndex(start=0, stop=5, step=1)