### 넘파이 모듈의 자료형 이해하기

#### - dtype으로 자료형 객체 생서하기

In [65]:
import pandas as pd
import numpy as np

In [67]:
# dtype 클래스 알아보기
np.dtype

numpy.dtype

In [69]:
d = np.dtype(np.int32)
d

dtype('int32')

In [70]:
a= np.array([1,2,3,4], dtype=d)
a

array([1, 2, 3, 4], dtype=int32)

In [71]:
a.dtype

dtype('int32')

In [72]:
np.int_

numpy.int64

In [73]:
np.int_.mro()

[numpy.int64,
 numpy.signedinteger,
 numpy.integer,
 numpy.number,
 numpy.generic,
 object]

In [75]:
issubclass(np.int32, np.signedinteger)

True

In [76]:
issubclass(np.integer, np.number)

True

In [77]:
issubclass(np.number, np.generic)

True

In [78]:
p_i = int(100)
p_i

100

In [80]:
n_i = np.int32(100)
n_i

np.int32(100)

In [81]:
p_i+n_i

np.int32(200)

In [82]:
# 정수/ 실수 자료형
# 복소수는 좀 봐볼것

#### - 날짜 자료형

In [84]:
np.datetime64

numpy.datetime64

In [85]:
print(np.datetime64)

<class 'numpy.datetime64'>

In [86]:
y=np.datetime64('2018')
y, y.dtype

(np.datetime64('2018'), dtype('<M8[Y]'))

In [87]:
ym = np.datetime64('2018-11')
ym, ym.dtype

(np.datetime64('2018-11'), dtype('<M8[M]'))

In [89]:
ymd = np.datetime64('2018-11-15')
ymd, ymd.dtype

(np.datetime64('2018-11-15'), dtype('<M8[D]'))

In [90]:
# 날짜도 더하기 빼기 가능하다 >> 우리가 세세한것도 알고잇어야 한다. 2월에 하나 더있는 윤달이라던지 그런거
a= np.array(['2018-11-15','2018-12-15','2010-01-15'], dtype=np.datetime64)
a

array(['2018-11-15', '2018-12-15', '2010-01-15'], dtype='datetime64[D]')

In [91]:
a.reshape(3,1)

array([['2018-11-15'],
       ['2018-12-15'],
       ['2010-01-15']], dtype='datetime64[D]')

In [94]:
delta = np.datetime64('2018-11-15') - np.datetime64('2016-11-15') 
delta, delta.dtype

(np.timedelta64(730,'D'), dtype('<m8[D]'))

In [95]:
print(delta)

730 days

#### - 문자 자료형

In [99]:
# np.str_, np.unicode_

In [100]:
# np.str, np.unicode

In [102]:
# 문자 자료형 : 바이트 문자열

In [ ]:
# 문자 자료형 : 문자열

In [103]:
# 문자 자료형 처리
d5 = np.array[range(10), dtype = "S5"]
d5[0,0] = 'hello'

NameError: name 'd5' is not defined