### DataFrame의 인덱스 다루기 - 2
- 새로운 행 인덱스를 생성 및 적용
- 메서드 : 변수명.reindex(새로운 인덱스. fill_value)

In [6]:
# 1. 모듈 로딩
import pandas as pd

In [7]:
# 2. 데이터 준비
jumsu= {'name' : ['마징가','태권V','원더우먼'],
        'kor':[89,100,99],
        'eng':[70,80,90],
        'math':[99,88,77]}

In [8]:
# 3. Dict ==> DataFrame 형태로 저장
jumsuDF=pd.DataFrame(jumsu)
jumsuDF

   name  kor  eng  math
0   마징가   89   70    99
1   태권V  100   80    88
2  원더우먼   99   90    77

In [9]:
# 4. 행 인덱스를 새롭게 생성
new_index= ['r0',0,'r1',1,'r2',2] # >> 각 위치에 맞게 인덱스(행)이 들어감
DF2=jumsuDF.reindex(new_index) # 앞에 있는 내용과 뭐가 다른지 비교해보기
DF2                            # >> 앞에는 그냥 바로 행과 열을 속성값으로 바꿨고 
                               #    여기는 메서드처럼 사용해서 변수를 한번 저장함

    name    kor   eng  math
r0   NaN    NaN   NaN   NaN
0    마징가   89.0  70.0  99.0
r1   NaN    NaN   NaN   NaN
1    태권V  100.0  80.0  88.0
r2   NaN    NaN   NaN   NaN
2   원더우먼   99.0  90.0  77.0

In [11]:
new_index=[2, 0, 1, 3] # >> 각 위치에 맞게 인덱스(행)이 들어감
DF2=jumsuDF.reindex(new_index)
DF2

   name    kor   eng  math
2  원더우먼   99.0  90.0  77.0
0   마징가   89.0  70.0  99.0
1   태권V  100.0  80.0  88.0
3   NaN    NaN   NaN   NaN

In [12]:
# 5. 행 인덱스를 새롭게 생성 => 존재하지 않는 행에 값 설정
DF3=jumsuDF.reindex([0,0,'r0','r1',2], fill_value=0) # 값을 넣어주지않으면 NaN로 출력
DF3                                                  # >>매개변수를 fill_value를 사용해서 빈곳의 값을 채웠다

    name  kor  eng  math
0    마징가   89   70    99
0    마징가   89   70    99
r0     0    0    0     0
r1     0    0    0     0
2   원더우먼   99   90    77

In [13]:
DF3.iloc[0]

name    마징가
kor      89
eng      70
math     99
Name: 0, dtype: object