### DataFrame의 인덱스 다루기 - 4 
- 인덱스(행/열) 정렬하기
- 기본 : 오름차순 정렬
- 메서드 : sort_index()

In [2]:
# 1. 모듈 로딩
import pandas as pd

In [3]:
# 2. 데이터 준비
data={'A':[98,78,100,52]}

In [4]:
# 3. Dict ==> DataFrame 형태로 저장
dataDF=pd.DataFrame(data, index=[9,12,1,3])
dataDF

      A
9    98
12   78
1   100
3    52

In [5]:
# 4. 행 인덱스 정렬 
# - 기본 : 오름차순 정렬(True(기본값)), 작은 인덱스 >>>>> 큰 인덱스
dataDF.sort_index()

      A
1   100
3    52
9    98
12   78

In [6]:
# 변경 - 내림차순 정렬(False), 큰 인덱스 >>>>> 작은 인덱스
dataDF.sort_index(ascending=False)

      A
12   78
9    98
3    52
1   100

In [7]:
# 5. 행 인덱스 변경후 정렬
# 현재 [12,9,3,1] ==> ['A','b','C','d']
dataDF.index=['A','b','C','d']
dataDF

     A
A   98
b   78
C  100
d   52

In [8]:
# 정렬 ==> dataDF.index : Index(['A', 'b', 'C', 'd'], dtype='object')
dataDF.sort_index(key=lambda x:x.str.lower()) 
# 코드값 대문자 < 소문자 가 더 큼 but 단지 철자의 정렬을 원할경우 lambda(1회용 함수)사용해서 upper나 lower로 글자를 맞춘다음 정렬
# 시리즈(오브젝트)에서 str로 접근을 하기위해((.str)로 엑세스하여 넣는다.)

     A
A   98
b   78
C  100
d   52

In [9]:
# 그냥 정렬을 하면 대문자가 소문자보다 아스키코드 수가 작기에 내림차순인경우 대문자가 먼저온다.
dataDF.sort_index()

     A
A   98
C  100
b   78
d   52

In [10]:
nums=['A','b','C','d'] #>>> 예시로 리스트로 했고 윗내용은 시리즈로 나온다.
sorted(nums, key=lambda x:x.lower())

['A', 'b', 'C', 'd']