### DataFrame 연산 - 1
- 일대일 대응으로 인덱스가 동일한 원소들끼리 연산 수행
- DataFrame과 숫자 데이터 연산 수행

In [11]:
# 1. 모듈 로딩
import pandas as pd
import numpy as np  # 빈 칸 의미 표현을 하기 위해서 사용

In [12]:
# 2. 데이터 준비
data={'A':[98,78,100,52],
      'B':[97,75,1200,50]}

In [13]:
# 3. Dict데이터를 >>> DataFrame 형태로 저장
DF1=pd.DataFrame(data)
DF1

     A     B
0   98    97
1   78    75
2  100  1200
3   52    50

In [14]:
# 4. 연산 수행
# - 산술연산
DF1 * 3

     A     B
0  294   291
1  234   225
2  300  3600
3  156   150

In [18]:
# - 비교연산
DF1 <= 80

       A      B
0  False  False
1   True   True
2  False  False
3   True   True