### DataFrame의 인덱스 다루기 - 1 
- 인덱스 종류 : 앵 인덱스. 열 인덱스
- 특정 열을 행 인덱스 설정하는 방법
- 메서드 : df.set_index(열 인덱스, inplace=False(기본값))

In [25]:
# 1. 모듈 로잉
import pandas as pd

In [26]:
# 2. 데이터 준비
jumsu= {'name' : ['마징가','태권V','원더우먼'],
        'kor':[89,100,99],
        'eng':[70,80,90],
        'math':[99,88,77]}

In [27]:
# 3. 데이터 프레임 저장
jumsuDF=pd.DataFrame(jumsu)
jumsuDF

   name  kor  eng  math
0   마징가   89   70    99
1   태권V  100   80    88
2  원더우먼   99   90    77

In [28]:
# 4. name 컬럼을 행 인덱스로 설정
DF2= jumsuDF.set_index('name')
DF2
# DF2.loc['name']=[100,20,30]
# DF2  >> 그냥 DataFrame에 name행으로 추가됨>>>>>????  뭔일하는 아인지 모르겠음

      kor  eng  math
name
마징가    89   70    99
태권V   100   80    88
원더우먼   99   90    77

In [29]:
jumsuDF # 원본이 바뀌진 않음

   name  kor  eng  math
0   마징가   89   70    99
1   태권V  100   80    88
2  원더우먼   99   90    77

In [30]:
# DF2 데이터 프레임의 행 인덱스/ 열 인덱스 확인
print(DF2.index, DF2.columns, sep='\n')

Index(['마징가', '태권V', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [31]:
# 5. 데이터 추출
# - '마징가'의 성적 추출 >> 행 추출==> 변수명.loc[ ]/iloc[ ]
print(DF2.loc['마징가']) # 시리즈로 추출
print('----------------------')
print(DF2.iloc[0])

kor     89
eng     70
math    99
Name: 마징가, dtype: int64
----------------------
kor     89
eng     70
math    99
Name: 마징가, dtype: int64

In [32]:
# - '마징가'와 '원더우먼'의 성적 추출 >> 행 추출==> 변수명.loc[ ]/iloc[ ]
print(DF2.loc[['마징가','원더우먼']]) # 데이터 프레임으로 추출
print('----------------------')
print(DF2.iloc[[0,2]])

      kor  eng  math
name
마징가    89   70    99
원더우먼   99   90    77
----------------------
      kor  eng  math
name
마징가    89   70    99
원더우먼   99   90    77

In [33]:
# 6. 영어 점수 컬럼을 행 인덱스로 설정
DF3= jumsuDF.set_index('eng') # []는 두개 이상 할 때 필요
DF3

     name  kor  math
eng
70    마징가   89    99
80    태권V  100    88
90   원더우먼   99    77

In [34]:
# 6. 이름과 영어 점수 컬럼을 행 인덱스로 설정 >>> 2개 이상은 멀티 인덱스
DF4= jumsuDF.set_index(['name','eng'])
DF4

          kor  math
name eng
마징가  70    89    99
태권V  80   100    88
원더우먼 90    99    77

In [35]:
print(DF4.index)

MultiIndex([( '마징가', 70),
            ( '태권V', 80),
            ('원더우먼', 90)],
           names=['name', 'eng'])

In [36]:
## 멀티 인덱스에서 행 추출
DF4.loc[('마징가',70)]

kor     89
math    99
Name: (마징가, 70), dtype: int64