7/15 test


1. 데이터 저장 후 문제 코드 작성

In [24]:
import pandas as pd

In [25]:
data = {'이름': ['메로나','비비빅','죠스바'],
        '가격': [300,400,250],
        '재고': [20,3,100]}

In [26]:
# 1.1
dataDF = pd.DataFrame(data)
dataDF

    이름   가격   재고
0  메로나  300   20
1  비비빅  400    3
2  죠스바  250  100

In [27]:
# 1.2
print(f'index : {dataDF.index}')
print(f'columns : {dataDF.columns}')
print(f'values : \n{dataDF.values}')
print(f'dtypes : {type(dataDF.dtypes)}\n{dataDF.dtypes}')
print(f'ndim : {dataDF.ndim}')
print(f'shape : {dataDF.shape}')

index : RangeIndex(start=0, stop=3, step=1)
columns : Index(['이름', '가격', '재고'], dtype='object')
values :
[['메로나' 300 20]
 ['비비빅' 400 3]
 ['죠스바' 250 100]]
dtypes : <class 'pandas.core.series.Series'>
이름    object
가격     int64
재고     int64
dtype: object
ndim : 2
shape : (3, 3)

In [28]:
# 1.3
print (dataDF.columns[1])

가격

In [29]:
# 1.4
dataDF[['이름','재고']]

    이름   재고
0  메로나   20
1  비비빅    3
2  죠스바  100

In [32]:
# 1.5
dataDF.values[1]

array(['비비빅', 400, 3], dtype=object)

In [34]:
# 1.6
dataDF.values[[0,2]]

array([['메로나', 300, 20],
       ['죠스바', 250, 100]], dtype=object)

In [ ]:
# 1.7
dataDF.index=['일','이','삼']
dataDF

    이름   가격   재고
일  메로나  300   20
이  비비빅  400    3
삼  죠스바  250  100

In [ ]:
# 1.8

In [ ]:
# 1.9
dataDF.loc[3]

In [ ]:
# 1.10
dataDF.iloc[1][2]=23
dataDF

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_18268\673467286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF.iloc[1][2]=23
C:\Users\KDP-23\AppData\Local\Temp\ipykernel_18268\673467286.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  dataDF.iloc[1][2]=23

    이름   가격   재고
일  메로나  300   20
이  비비빅  400    3
삼  죠스바  250  100

In [ ]:
# 2.1
data =['시가' [ 2000, 3050, 2050, 1980],
         [ 7500, 2050, 2050, 1980],
        [15450, 15050, 15550, 14900]

SyntaxError: unexpected EOF while parsing (1087363244.py, line 5)

3. 아래 단답형 문제에 답해주세요.     
(3-01) 판다스는 (data )를 분석하기 위한 패키지입니다.     
(3-02) 판다스에서는 다양한 종류의 데이터를 (데이터 프레임 )형태로 저장합니다.    
(3-03) 판다스에서는 1차원 데이터를 저장하는 자료구조를 (시리즈 )라고 합니다.   
(3-04) 판다스에서는 2차원 데이터를 저장하는 자료구조를 ( 데이터 프레임)라고 합니다.    
(3-05) 판다스는 내부적으로 데이터를 ( 어레이)형태로 저장합니다.     
(3-06) 판다스에서는 1개 열/column 추출 시 자료구조는 (시리즈 )입니다.    
(3-07) 판다스에서는 1개 행/row 추출 시 자료구조는 ( 시리즈)입니다.     
(3-08) 판다스에서는 2개 이상 열/column 또는 행/row 추출 시 자료구조는( 데이터 프레임)입니다.