#### [데이터 표준화]
- 수집된 데이터를 동일한 형태로 맞추어 주는 것
- 단위변환, 자료형 변환

In [1]:
# [1] 모듈 로딩 
import pandas as pd

In [2]:
# [2] 데이터 준비
file_name='auto_mpg.csv'

In [3]:
# [3] CSV 파일 ==> DataFrame 형태로 저장 
mpgDF=pd.read_csv(file_name)

In [4]:
# [4] 데이터 확인 
# - 기본 정보 확인 
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [5]:
# - 컬럼과 실제 데이터 타입 확인
print(mpgDF.head(2), mpgDF.tail(2), sep='\n\n')

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320

      mpg  cylinders  displacement horsepower  weight  acceleration  \
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin     car name
396          82       1  ford ranger
397          82       1   chevy s-10

In [6]:
# - 컬럼별 데이터 분포 확인
mpgDF.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [7]:
# [5] 데이터 전처리
# - [5-1] 결측치 체크
mpgDF.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [8]:
# - [5-2] 중복데이터 
mpgDF.duplicated().sum()

np.int64(0)

In [9]:
# - [5-3] 단위 변환 표준화 mpg ===> kpl 컬럼 추가 
mpgDF['kpl']=mpgDF.mpg * 0.425144
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
 9   kpl           398 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 31.2+ KB

In [10]:
# - [5-4] 자료형 변환 표준화 
# - horsepower object ==> int 
# mpgDF['horsepower'].astype('int64')
mpgDF['horsepower'].value_counts()['?']

np.int64(6)

In [11]:
# 데이터를 변경해주는 메서드 => replace()
import numpy as np   

mpgDF['horsepower'].replace('?', np.nan, inplace=True)

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_14712\2305815332.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mpgDF['horsepower'].replace('?', np.nan, inplace=True)

In [12]:
mpgDF.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
kpl             0
dtype: int64

In [13]:
mpgDF2=mpgDF.dropna().copy()
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    object
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 33.7+ KB

In [14]:
mpgDF2['horsepower']=mpgDF2['horsepower'].astype('int64')

In [15]:
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 33.7+ KB

In [16]:
# - [5-5] 컬럼별 데이터의 특성 확인 후 자료형 변환 표준화 
# - 'cylinders' ==> 데이터를 분류/그룹 가능 ==> 범주형 
# - 'origin'    ==> 데이터를 분류/그룹 가능 ==> 범주형 
mpgDF2['cylinders']=mpgDF2['cylinders'].astype('category')
mpgDF2['origin']=mpgDF2['origin'].astype('category')

mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: category(2), float64(4), int64(3), object(1)
memory usage: 28.7+ KB

In [17]:
# - [5-6] 컬럼별 데이터의 특성 확인 후 데이터 변환 
# - 'horsepower' ==> 저출력-일반출력-고출력 ==> 범주형 : cut() 메서드
hp=pd.cut(mpgDF2['horsepower'], 
       bins=3, 
       labels=['저출력', '일반출력', '고출력'])

In [18]:
mpgDF2['horsepower_range']=hp

In [19]:
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    int64
 4   weight            392 non-null    int64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    int64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpl               392 non-null    float64
 10  horsepower_range  392 non-null    category
dtypes: category(3), float64(4), int64(3), object(1)
memory usage: 29.2+ KB

- [문자열 데이터를 분리 시켜주는 기능 => 컬럼 분리]
    * 조건, 데이터가 str이어야 함!
    * 형식 : Series.str.메서드()

In [20]:
namesSR=mpgDF2['car name'].str.upper().str.split()
namesSR.head(3)

0    [CHEVROLET, CHEVELLE, MALIBU]
1            [BUICK, SKYLARK, 320]
2            [PLYMOUTH, SATELLITE]
Name: car name, dtype: object

In [21]:
# - 나누어진 문자열을 하나씩 컬럼으로 분리
mpgDF2['car name'].str.split(expand=True)

             0          1       2     3     4     5
0    chevrolet   chevelle  malibu  None  None  None
1        buick    skylark     320  None  None  None
2     plymouth  satellite    None  None  None  None
3          amc      rebel     sst  None  None  None
4         ford     torino    None  None  None  None
..         ...        ...     ...   ...   ...   ...
393       ford    mustang      gl  None  None  None
394         vw     pickup    None  None  None  None
395      dodge    rampage    None  None  None  None
396       ford     ranger    None  None  None  None
397      chevy       s-10    None  None  None  None

[392 rows x 6 columns]

In [22]:
namesDF=mpgDF2['car name'].str.split(expand=True, n=2)
namesDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       392 non-null    object
 1   1       390 non-null    object
 2   2       194 non-null    object
dtypes: object(3)
memory usage: 12.2+ KB

- [DataFrame 연결하기]
    * 함수 : pandas.concat([df1,df2,...])

In [23]:
DF3=pd.concat([mpgDF2, namesDF], axis=1)
DF3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    int64
 4   weight            392 non-null    int64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    int64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpl               392 non-null    float64
 10  horsepower_range  392 non-null    category
 11  0                 392 non-null    object
 12  1                 390 non-null    object
 13  2                 194 non-null    object
dtypes: category(3), float64(4), int64(3), object(4)
memory usage: 38.4+ KB

In [24]:
# - 행 방향 연결 시 인덱스 다시 정리 필요 
# - 매개변수 ignore_index=True
DF4=pd.concat([mpgDF2, namesDF], ignore_index=True)
DF4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    float64
 4   weight            392 non-null    float64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    float64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpl               392 non-null    float64
 10  horsepower_range  392 non-null    category
 11  0                 392 non-null    object
 12  1                 390 non-null    object
 13  2                 194 non-null    object
dtypes: category(3), float64(7), object(4)
memory usage: 70.3+ KB

In [25]:
DF4.tail(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpl,horsepower_range,0,1,2
782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford,ranger,None
783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chevy,s-10,None