#### []

In [3]:
import pandas as pd

In [4]:
values = [ [1,2,3], [4,5,6], [7,8,9], [10,11,12], 
              [13,14,15], [16,17,18], [19,20,21]]

In [5]:
df=pd.DataFrame(values)
df

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15
5  16  17  18
6  19  20  21