### 그룹화 처리
- 주제 : 타이타닉에서 선실에 등급에 따른 생존 비율을 분석

In [1]:
# 1. 모듈 로딩
import pandas as pd
import df_util as util

In [2]:
# 2. 데이터 준비
file_name='titanic.csv'

In [3]:
# 3. csv => dataframe으로 저장
dataDF=pd.read_csv(file_name)

In [4]:
util.checkDataFrame(dataDF, 'dataDF')

[dataDF]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
[Index] : RangeIndex(start=0, stop=891, step=1)
[columns] : Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
[ndim] : 2

In [5]:
scDF= dataDF.loc[:,['survived','pclass']]
scDF

     survived  pclass
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
..        ...     ...
886         0       2
887         1       1
888         0       3
889         1       1
890         0       3

[891 rows x 2 columns]

In [6]:
scDF.isna().sum()

survived    0
pclass      0
dtype: int64

In [7]:
groupSCDG=scDF.groupby('pclass')
groupSCDG

In [8]:
groupSCDG.mean() # 옹 이것도 생존율이겠네 산사람 1 죽은사람 0이니깐 전제 나누기 하면

        survived
pclass
1       0.629630
2       0.472826
3       0.242363