### 멀티인덱스
- 2개 이상의 행과 열로 구성된 인덱스

In [34]:
# 1. 모듈 로딩
import pandas as pd
import df_util as util

In [35]:
# 2. 데이터 준비
file1='test_data.csv'
file2='test_data1.csv'

In [36]:
# 3. CSV ==> DataFrame으로 저장
df1=pd.read_csv(file1)
df2=pd.read_csv(file2)

In [37]:
# 4. 데이터 확인 => 기본정보
util.checkDataFrame(df1, 'df1')
util.checkDataFrame(df2, 'df2')

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[Index] : RangeIndex(start=0, stop=10, step=1)
[columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[ndim] : 2

[df2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     float64
 2   col2    10 non-null     float64
 3   col3    11 non-null     int64
dtypes: float64(2), int64(1), object(1)
memory usage: 480.0+ bytes
[Index] : RangeIndex(start=0, stop=11, step=1)
[columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[ndim] : 2

In [38]:
# 5. 행 인덱스 설정
# 5-1 DF1의 첫번째 컬럼을 행 인덱스로 설정 => set_index(컬럼1) # 반복문???????????????????????????????????????????????????????????????????????????????????????????????????
df11=df1.set_index(['index'])
df11.index.name=None
df11.index

Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object')

In [39]:
# 'C' 행 추출
df11.loc['C']

   col1  col2  col3
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [40]:
# 5-2 DF1의 첫번째,두번째 컬럼을 행 인덱스로 설정 => set_index([컬럼1,컬럼2])
df12=df1.set_index(['index','col2'])
print(df12.index)

#('A', 8)행 데이터를 추출 두개이상의 인덱스를 찾을땐 (), 여러 인덱스를 찾을땐 [] 
df12.loc[('A', 8)]

MultiIndex([('A', 6),
            ('C', 4),
            ('C', 2),
            ('A', 8),
            ('B', 0),
            ('B', 2),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 1)],
           names=['index', 'col2'])

col1    1
col3    7
Name: (A, 8), dtype: int64

In [41]:
# 'A', 'C'행 추출
df11.loc[['A','C']]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [42]:
#('A', 8),('A', 1) 행 추출
df12.loc[ [('A', 8),('A', 1)] ] # 인덱스 추출하는 [] 따로 여러 인덱스를 묶어줄 []따로

            col1  col3
index col2
A     8        1     7
      1        3     4

In [43]:
# 멀티 인덱스에서 level0이 동일한 행 추출
# - 'A' # 인덱스 2개인데 'A'만 찾을수도있다, 
df12.loc['A']

      col1  col3
col2
6        8     5
8        1     7
1        3     4

In [44]:
# #if - '8' 
# df12.loc['8'] - ERROR
df12.xs(8,level=1) # 메서드 사용

       col1  col3
index
A         1     7
C         8     6

In [45]:
# 멀티인덱스에서 행 추가 
# - 그냥 인덱스의 추가==> 변수명.loc[행 인덱스]=값
df12.loc[('D',9), :] =[9,9] # ', :'이 없으면 ()안에 있는값이 인덱스 , 컬럼 으로 추가됨 ()안에는 level0, level1 순으로 추가된다

In [46]:
df12

            col1  col3
index col2
A     6      8.0   5.0
C     4      8.0   3.0
      2      8.0   0.0
A     8      1.0   7.0
B     0      2.0   7.0
      2      4.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     1      3.0   4.0
D     9      9.0   9.0

In [47]:
sr1= pd.Series({'col1':10, 'col3':99}, name=('AA', 103))
sr1

col1    10
col3    99
Name: (AA, 103), dtype: int64

In [48]:
df12.loc[('AA', 102), : ]  = sr1

In [49]:
df12

            col1  col3
index col2
A     6      8.0   5.0
C     4      8.0   3.0
      2      8.0   0.0
A     8      1.0   7.0
B     0      2.0   7.0
      2      4.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     1      3.0   4.0
D     9      9.0   9.0
AA    102   10.0  99.0