### 멀티인덱스
- 2개 이상의 행과 열로 구성된 인덱스

In [2]:
# 1. 모듈 로딩
import pandas as pd

In [3]:
# 2. 데이터 준비
file='test_data3.csv'

In [4]:
# 3. CSV ==> DataFrame로 저장
df=pd.read_csv(file)
df

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    12    23

In [5]:
# 4. 데이터 추출
# 4-1. 대구 관련 데이터 추출
df[df['col1']=='대구'] # 컴퓨터는 먼저 컬럼의 일지불일치를 찾아서 뽑아서 추출 [안에 블링인덱싱]
# 데이터가 적어 빠르게 뽑을수있다.
# 데이터가 많을땐 오래걸린다. 그래서 컬럼을 인덱스로 뽑아 낼거다

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [6]:
# 4-2. index와 col1컬럼을 행 인덱스로 설정
df2 =df.set_index(['index','col1'])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      12    23

In [7]:
# 인덱스 속성, 값 추출
df2.index, df2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [12, 23]]))

In [8]:
# 2020년도 대구 데이터를 추출/값 변경
df2.loc[('2020','대구')] = [9,9]
df2

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5164\3058827649.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2020','대구')] = [9,9]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구      11    22
      대구      12    23

In [9]:
# 2020년도 대구 데이터를 추출 >> 중복이기에 2개 다 바뀐다.
df2.loc[('2021','대구')]=[3,3]
df2

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5164\654887087.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2021','대구')]=[3,3]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구       3     3
      대구       3     3

In [10]:
# 행 추가 => (년도, 지역명)으로 해서 추가할려는데 
# df2.loc[(2022,'부산')]=0 # [행, 열]로 인식해서 열 추가 됨

In [11]:
df2.loc[(2022,'부산'), : ]=0

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5164\3582012507.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'부산'), : ]=0

In [12]:
df2.loc[(2022,'마산'), : ]=[3,4] #list 반복가능한 이터러블 iterable

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5164\747256956.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'), : ]=[3,4] #list 반복가능한 이터러블 iterable
C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5164\747256956.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'), : ]=[3,4] #list 반복가능한 이터러블 iterable

In [13]:
df2.loc[(2022,'울산'),:]=pd.Series({'col2':8,'col3':8}) #>>행은 넣었느데 값은 들가지않음
# ValueError: Must have equal len keys and value when setting with an iterable

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5164\3666146994.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'),:]=pd.Series({'col2':8,'col3':8}) #>>행은 넣었느데 값은 들가지않음
C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5164\3666146994.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'),:]=pd.Series({'col2':8,'col3':8}) #>>행은 넣었느데 값은 들가지않음

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8,'col3':8})]

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_15448\3094448949.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8,'col3':8})]
C:\Users\KDP-23\AppData\Local\Temp\ipykernel_15448\3094448949.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8,'col3':8})]

In [ ]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     NaN   NaN
      경산     8.0   8.0