### 멀티인덱스
- 2개 이상의 행과 열로 구성된 인덱스

In [168]:
# 1. 모듈 로딩
import pandas as pd
import df_util as util

In [169]:
# 2. 데이터 준비
file1='test_data.csv'
file2='test_data1.csv'

In [170]:
# 3. CSV ==> DataFrame으로 저장
DF1=pd.read_csv(file1)
DF2=pd.read_csv(file2)

In [171]:
# 4. 데이터 확인 => 기본정보
util.checkDataFrame(DF1, 'DF1')
util.checkDataFrame(DF2, 'DF2')

[DF1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[Index] : RangeIndex(start=0, stop=10, step=1)
[columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[ndim] : 2

[DF2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     float64
 2   col2    10 non-null     float64
 3   col3    11 non-null     int64
dtypes: float64(2), int64(1), object(1)
memory usage: 480.0+ bytes
[Index] : RangeIndex(start=0, stop=11, step=1)
[columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[ndim] : 2

In [172]:
# 5. 행 인덱스 설정
# 5-1 DF1의 첫번째 컬럼을 행 인덱스로 설정 => set_index(컬럼1)
df11=DF1.set_index(['index'])
df11.index.name=None
df11.index

#'A'행 데이터를 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [173]:
# 5-2 DF1의 첫번째,두번째 컬럼을 행 인덱스로 설정 => set_index([컬럼1,컬럼2])
df12=DF1.set_index(['index','col1'])
df12.index

#('A', 8)행 데이터를 추출 두개이상의 인덱스를 찾을땐 (), 여러 인덱스를 찾을땐 [] 
df12.loc[('A', 8)]

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5516\4259493978.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A', 8)]

            col2  col3
index col1
A     8        6     5

In [174]:
# 'A', 'C'행 추출
df11.loc[['A','C']]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [175]:
#('A', 8),('A', 1) 행 추출
df12.loc[ [('A', 8),('A', 1)] ] # 인덱스 추출하는 [] 따로 여러 인덱스를 묶어줄 []따로

            col2  col3
index col1
A     8        6     5
      1        8     7

In [176]:
# 멀티 인덱스의 속성들 확인
midx=df12.index
print(f'nlevels : {midx.nlevels}')
print(f'levels : {midx.levels}') # 갯수는 2개지만 순서는 0번,1번 >>> 밖에있는 순서대로 level 0, level 1
print(f'names : {midx.names}') # 갯수는 2개지만 순서는 0번,1번

# midx.names=[None,] ==> ERROR 비워도 안되네 
# print(f'names : {midx.names}')
# midx.names[0]='A' ==> ERROR
# get(추출), set(수정 or 변경) 이 붙은 메서드는 수정 및 변경하는 메서드

midx.set_names('a', level=0)

nlevels : 2
levels : [['A', 'B', 'C'], [1, 2, 3, 4, 5, 8]]
names : ['index', 'col1']

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['a', 'col1'])

In [177]:
# 멀티 인덱스에서 level0이 동일한 행 추출
# - 'A' # 인덱스 2개인데 'A'만 찾을수도있다, 
df12.loc['A']

      col2  col3
col1
8        6     5
1        8     7
3        1     4

In [178]:
df12

            col2  col3
index col1
A     8        6     5
C     8        4     3
      8        2     0
A     1        8     7
B     2        0     7
      4        2     4
C     8        8     6
      5        5     6
B     3        3     6
A     3        1     4

In [179]:
# #if - '8' 
# df12.loc['8'] - ERROR
df12.xs(8,level=1) # 메서드 사용

       col2  col3
index
A         6     5
C         4     3
C         2     0
C         8     6

In [180]:
# 멀티인덱스에서 행 추가 
# - 그냥 인덱스의 추가==> 변수명.loc[행 인덱스]=값
df12.loc[('D',9), :] =[9,9] # ', :'이 없으면 ()안에 있는값이 인덱스 , 컬럼 으로 추가됨 ()안에는 level0, level1 순으로 추가된다
#           행    열  컬럼

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5516\1525435135.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9), :] =[9,9] # ', :'이 없으면 ()안에 있는값이 인덱스 , 컬럼 으로 추가됨 ()안에는 level0, level1 순으로 추가된다
C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5516\1525435135.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9), :] =[9,9] # ', :'이 없으면 ()안에 있는값이 인덱스 , 컬럼 으로 추가됨 ()안에는 level0, level1 순으로 추가된다

In [181]:
df12

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      9.0   9.0

In [182]:
sr1= pd.Series({'col2':10, 'col3':120})

In [183]:
df12.loc[('AA', 102), : ]  = [sr1]

C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5516\3762128700.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('AA', 102), : ]  = [sr1]
C:\Users\KDP-23\AppData\Local\Temp\ipykernel_5516\3762128700.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('AA', 102), : ]  = [sr1]