### CSV 데이터 파일 다루기
- auto_mpg 데이터 파일 살펴보기

In [20]:
# 모듈 로딩
import pandas as pd

In [21]:
# 2. 데이터 준비
file_name='auto_mpg.csv'

In [22]:
# 3. CSV -> DataFrame 형태로 저장
mpgDF=pd.read_csv(file_name) 
mpgDF
# mpgDF=pd.read_csv(file_name, index_col=['mpg','cylinders']) # 이렇게 바로 인덱스로 뺄수 있다 >> 멀티인덱스

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [23]:
# 4. 데이터 확인
print(f'데이터 행 개수 : {mpgDF.shape[0]}, 열 개수 : {mpgDF.shape[1]}')
print(f'데이터 컬럼 : {mpgDF.columns}')
print(f'데이터 인덱스 : {mpgDF.index}')
print(f'데이터 타입 : \n{mpgDF.dtypes}')

데이터 행 개수 : 398, 열 개수 : 9
데이터 컬럼 : Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')
데이터 인덱스 : RangeIndex(start=0, stop=398, step=1)
데이터 타입 :
mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [24]:
# 5. 데이터 추출
# 5-1 : 70년대 자동차 데이터만 추출
# mask1= [mpgDF['model year']%70 < 10]
# mask1= (mpgDF['model year']>=70) & (mpgDF['model year']<=79)
mask1= mpgDF['model year']//10==7
print(mpgDF[mask1])

      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
304  37.3          4          91.0         69    2130          14.7
305  28.4          4         151.0         90    2670          16.0
306  28.8          6         173.0        115    2595          11.3
307  26.8          6         173.0        115    2700          12.9
308  33.5          4         151.0         90    2556          13.2

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
304          79       2         fiat strada custom
305          79       1      buick skylark limited
306          79       1         chevrolet citation
307          79       1  oldsmobile omega brougham
308          79       1            pontiac phoenix

[309 rows x 9 columns]

In [25]:
# 5-2 : 실린더 갯수가 4개이하인 자동차 데이터만 추출
mask2= mpgDF['cylinders'] <= 4
print(mpgDF[mask2])

      mpg  cylinders  displacement horsepower  weight  acceleration  \
14   24.0          4         113.0         95    2372          15.0
18   27.0          4          97.0         88    2130          14.5
19   26.0          4          97.0         46    1835          20.5
20   25.0          4         110.0         87    2672          17.5
21   24.0          4         107.0         90    2430          14.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                      car name
14           70       3         toyota corona mark ii
18           70       3                  datsun pl510
19           70       2  volkswagen 1131 deluxe sedan
20           70       2                   peugeot 504
21           70       2                   audi 100 ls
..          ...     ...                           ...
393          82       1               ford mustang gl
394          82       2                     vw pickup
395          82       1                 dodge rampage
396          82       1                   ford ranger
397          82       1                    chevy s-10

[208 rows x 9 columns]

In [39]:
# 5-3 : 1 미국 2유럽 3일본 일본차가 아닌 나머지 자동차 데이터 추출 
# mask3= ~mpgDF['origin'] ==3 >>>>>>????????????? 야 왜 안되는고???
mask3= mpgDF['origin'] !=3
print(mpgDF[mask3])

      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[319 rows x 9 columns]

In [27]:
# 5-4 : 80년대 유럽 자동차 중에서 실린더 갯수가 6개 이상인 데이터만 추출
# 80<=['model year']<90  ==>  ['model year']//10==8
# 'origin'==2 
# 'cylinders' >= 6
# - 3개 모두 충족 ==> &
mask4=(mpgDF ['model year']//10==8) & (mpgDF['cylinders'] >= 6) & (mpgDF['origin'] ==2)
print(mpgDF[mask4])

      mpg  cylinders  displacement horsepower  weight  acceleration  \
360  30.7          6         145.0         76    3160          19.6

     model year  origin      car name
360          81       2  volvo diesel

- [데이터의 기본정보 확인]
    - 데이터의 전체 형태 => shape
    - 기본 정보 => 인덱스, 컬럼, 컬럼별 데이터 갯수 및 타입 => info( )
    - 실제 데이터 일부 => head() / tail( )
    - 컬럼별로 데이터 분포 => 기술통계 수치  describe( )

In [28]:
# 1. 기본정보 info()
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [40]:
# 2. 일부 실제 데이터 확인 => 컬럼별 데이터 값과 info()에서 확인 한 타입 체크
# - horsepower의 타입 object => int로 변경
mpgDF.head(), mpgDF.tail() # 기본값 : 5

(    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
 0  18.0          8         307.0        130    3504          12.0          70
 1  15.0          8         350.0        165    3693          11.5          70
 2  18.0          8         318.0        150    3436          11.0          70
 3  16.0          8         304.0        150    3433          12.0          70
 4  17.0          8         302.0        140    3449          10.5          70

    origin                   car name
 0       1  chevrolet chevelle malibu
 1       1          buick skylark 320
 2       1         plymouth satellite
 3       1              amc rebel sst
 4       1                ford torino  ,
       mpg  cylinders  displacement horsepower  weight  acceleration  \
 393  27.0          4         140.0         86    2790          15.6
 394  44.0          4          97.0         52    2130          24.6
 395  32.0          4         135.0         84    2295          11.6
 396  28.0          4         120.0         79    2625          18.6
 397  31.0          4         119.0         82    2720          19.4

      model year  origin         car name
 393          82       1  ford mustang gl
 394          82       2        vw pickup
 395          82       1    dodge rampage
 396          82       1      ford ranger
 397          82       1       chevy s-10  )

In [30]:
# 3. 컬럼별 데이터 분포 확인 # >>> 그래서 이게 뭔디??
# >> 기본적으로 글자는 출력되지 않는다. but >> include를 쓰면 다 나옴
mpgDF.describe(include='all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [41]:
# 3. 컬럼별 데이터 분포 확인 # >>> 그래서 이게 뭔디??
mpgDF.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [31]:
## 자동차 제조국가별 자동차 수 확인
mpgDF['origin'].count()

np.int64(398)

In [32]:
mpgDF['origin'].value_counts()

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [33]:
## 자동차 기통 수 확인
mpgDF['cylinders'].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [34]:
## 년도별 자동차 수 확인
mpgDF['model year'].value_counts()

model year
73    40
78    36
76    34
82    31
75    30
80    29
79    29
81    29
70    29
71    28
72    28
77    28
74    27
Name: count, dtype: int64

In [35]:
## 자동차 연비 확인
mpgDF['mpg'].value_counts()

mpg
13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
28.1     1
24.2     1
30.7     1
22.4     1
44.0     1
Name: count, Length: 129, dtype: int64

In [36]:
# DataFrame에서 count() => 컬럼별 데이터 수
mpgDF.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
car name        398
dtype: int64

In [37]:
mpgDF.value_counts()

mpg   cylinders  displacement  horsepower  weight  acceleration  model year  origin  car name
46.6  4          86.0          65          2110    17.9          80          3       mazda glc                     1
9.0   8          304.0         193         4732    18.5          70          1       hi 1200d                      1
10.0  8          307.0         200         4376    15.0          70          1       chevy c20                     1
                 360.0         215         4615    14.0          70          1       ford f250                     1
11.0  8          318.0         210         4382    13.5          70          1       dodge d200                    1
                                                                                                                  ..
13.0  8          318.0         150         3755    14.0          76          1       dodge d100                    1
                                           3940    13.2          76          1       plymouth volare premier v8    1
                 350.0         145         3988    13.0          73          1       chevrolet malibu              1
                                           4055    12.0          76          1       chevy c10                     1
                               150         4699    14.5          74          1       buick century luxus (sw)      1
Name: count, Length: 398, dtype: int64