### 중복데이터 처리
- 중복 데이터 검사 후 처리 ==> 삭제
- [주의] 중복 데이터를 모두 삭제하는 것은 아님
  - 데이터의 특성을 확인 후 결정 해야 함

In [9]:
# 1. 모듈 로딩
import pandas as pd

In [10]:
# 2. 데이터 준비
file_name='data.csv'

In [11]:
# 3. csv를 DataFrame으로
csvDF=pd.read_csv(file_name)
csvDF

   no  name   age gender
0   1  Hong   NaN      F
1   2  Park  13.0      F
2   3   NaN  12.0      M
3   4   Lee  16.0      f
4   5   Lim  15.0      M
5   6   Lee  16.0      f
6   5   Lim  15.0      M

In [12]:
# 4. 데이터 확인
csvDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      7 non-null      int64
 1   name    6 non-null      object
 2   age     6 non-null      float64
 3   gender  7 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 352.0+ bytes

In [13]:
# - 컬럼별 타입과 실제 데이터 확인 
csvDF.head(2), csvDF.tail(2)

(   no  name   age gender
 0   1  Hong   NaN      F
 1   2  Park  13.0      F,
    no name   age gender
 5   6  Lee  16.0      f
 6   5  Lim  15.0      M)

In [14]:
# 5. 전처리
# 5-1 결측치

In [15]:
# 5-2 중복데이터 검사 및 처리
# - keep 매개변수 : 어느 것을 중복 데이터로 취급하지 않을지 결정
#                    (기본:first)
# 첫번째 요소는 유지 그다음을 중복 처리, keep이용하면 True는 반대로, False는 둘다 중복을 보겠다 하는거임
csvDF.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [16]:
# - 중복 데이터 처리
csvDF.drop_duplicates()

   no  name   age gender
0   1  Hong   NaN      F
1   2  Park  13.0      F
2   3   NaN  12.0      M
3   4   Lee  16.0      f
4   5   Lim  15.0      M
5   6   Lee  16.0      f

In [21]:
# - 나이 컬럼만 중복 여부 체크
csvDF.duplicated(subset='gender') #>>>> []꼭해야하나?

0    False
1     True
2    False
3    False
4     True
5     True
6     True
dtype: bool