##### [Series & DataFrame 연산]

In [1]:
# [1] 모듈 로딩 
import pandas  as  pd

In [2]:
# [2] 데이터 준비 
file_name='data1.csv'

In [3]:
# [3] CSV File ==> DataFrame형태 저장
csvDF=pd.read_csv(file_name, header=None)

In [4]:
csvDF

    0   1   2
0  10  20  30
1  90  80  70
2  66  55  44
3  90  90  90
4   5   5   5

In [7]:
# [4] 연산 실습 
# 0번 컬럼과 2번 컬럼을 덧셈 연산 수행
result=csvDF[0] + csvDF[2]

In [9]:
# 0번 컬럼~2번 컬럼까지의 덧셈 수행
result=csvDF[0] + csvDF[1] + csvDF[2]
result

0     60
1    240
2    165
3    270
4     15
dtype: int64

In [10]:
# 3개 컬럼 덧셈 결과를 새로운 컬럼으로 추가 
csvDF['Total']=result
csvDF

    0   1   2  Total
0  10  20  30     60
1  90  80  70    240
2  66  55  44    165
3  90  90  90    270
4   5   5   5     15

In [11]:
# 행 5 추가 => 데이터 : 각 컬럼의 값을 모두 더한 값
result2=csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
result2

0        261
1        250
2        239
Total    750
dtype: int64

In [18]:
csvDF.loc[2]

0         66
1         55
2         44
Total    165
Name: 2, dtype: int64

In [13]:
csvDF.loc[5]=result2
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [24]:
# [5] 연산수행 메서드 : 합계 sum(), 최대값 max(), 최소값 min()
SR0=csvDF[0]
print(SR0)
print("합  계 :", SR0.sum())
print("최대값 :", SR0.max())
print("최대값 :", SR0.max())

0     10
1     90
2     66
3     90
4      5
5    261
Name: 0, dtype: int64
합  계 : 522
최대값 : 261
최대값 : 261

In [25]:
# DataFrame으로 연산수행 메서드 
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [27]:
# DataFrame 합계 계산 
# 각 행 데이터를 모아서 합계 수행. 그래서 컬럼 마다 행들을 모아서 합계 수행
print("합  계 :", csvDF.sum())

# 각 컬럼 데이터를 모아서 합계 수행. 그래서 행 마다 컬럼들을 모아서 합계 수행
print("합  계 :", csvDF.sum(axis=1))

합  계 : 0         522
1         500
2         478
Total    1500
dtype: int64
합  계 : 0     120
1     480
2     330
3     540
4      30
5    1500
dtype: int64

In [29]:
# DataFrame 최대값 계산 
print("최대값", csvDF.max()) 
print("최대값", csvDF.max(axis=1))

최대값 0        261
1        250
2        239
Total    750
dtype: int64
최대값 0     60
1    240
2    165
3    270
4     15
5    750
dtype: int64

In [30]:
# DataFrame 최소값 계산 
print("최소값", csvDF.min()) 
print("최소값", csvDF.min(axis=1))

최소값 0         5
1         5
2         5
Total    15
dtype: int64
최소값 0     10
1     70
2     44
3     90
4      5
5    239
dtype: int64

#### 연산과 데이터 추출 
- 연산결과와 데이터 추출 함께 진행

In [45]:
# Total이 100이상인 데이터만 추출 
# 비교 연산 결과 ==> True/False : Boolean Index 
bool_index= (csvDF.Total  > 100) | (csvDF[0]>50)
bool_index

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [37]:
# Boolean Index 즉, 인덱스로 특정 데이터 추출에 사용 가능 
# csvDF[컬럼인덱스] , csvDF.iloc[행인덱스], csvDF.loc[행인덱스]
csvDF[bool_index]

     0    1    2  Total
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
5  261  250  239    750

In [ ]:
csvDF