### DataFrame에서 원소/요소 읽기 
- 행 읽기 / 열 읽기
- 행과열이 교차하는 지점 원소/요소 읽기

In [53]:
# 모듈 로딩 
import pandas as pd

In [54]:
# 데이터 준비 
jumsu=[[98, 99, 100], [67, 81, 80]]

In [55]:
# 2D 데이터를 DF으로 저장 
df1=pd.DataFrame(jumsu)
df1

    0   1    2
0  98  99  100
1  67  81   80

In [56]:
# 행 인덱스와 열 인덱스 속성으로 지정
# 행 인덱스 => 김경태, 안효준 
# 열 인덱스 => 음악, 영어, 무용
df1.index=('김경태','안효준')
df1.columns=('음악','영어','무용')

In [57]:
df1

     음악  영어   무용
김경태  98  99  100
안효준  67  81   80

- [열/컬럼 선택] :  변수명[컬럼명/컬럼인덱스]

In [58]:
# 영어 과목 점수만 추출 
print( df1['영어'], type(df1['영어']), sep='\n\n')

김경태    99
안효준    81
Name: 영어, dtype: int64

<class 'pandas.core.series.Series'>

In [59]:
# 무용 과목 점수만 추출
df1.무용                # df1['무용']

김경태    100
안효준     80
Name: 무용, dtype: int64

In [60]:
# 음악, 무용 컬럼 추출 
df1[['음악','무용']]

     음악   무용
김경태  98  100
안효준  67   80

In [61]:
#df1['음악':'무용':1] # ERROR

In [62]:
print( df1.columns, df1.columns[1:], df1.columns[::2], sep='\n')

df1[df1.columns[::2]]

Index(['음악', '영어', '무용'], dtype='object')
Index(['영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

     음악   무용
김경태  98  100
안효준  67   80

- [행/로우 선택] : 변수명.iloc[행인덱스], 변수명.loc[행인덱스]

In [63]:
df1

     음악  영어   무용
김경태  98  99  100
안효준  67  81   80

In [64]:
# 변수명.iloc[정수인덱스] : 정수인덱스만 가능함!!!
df1.iloc[0]

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [65]:
# 변수명.loc[행인덱스] 
df1.loc['김경태']

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [66]:
# 여러개 행 추출 
df1.loc[['안효준','김경태']]

     음악  영어   무용
안효준  67  81   80
김경태  98  99  100

In [67]:
print( df1.index, df1.index[1:], df1.index[::-1], sep='\n')

df1.loc[df1.index[::-1]]

Index(['김경태', '안효준'], dtype='object')
Index(['안효준'], dtype='object')
Index(['안효준', '김경태'], dtype='object')

     음악  영어   무용
안효준  67  81   80
김경태  98  99  100

- [원소/요소 추출]
    * 변수명.iloc[정수인덱스][열인덱스] / 변수명.loc[행인덱스][열인덱스]

In [68]:
# 김경태님의 영어 점수만 추출 
# df1['김경태']['영어']  <== KeyError
df1.loc['김경태'], df1.iloc[0]

(음악     98
 영어     99
 무용    100
 Name: 김경태, dtype: int64,
 음악     98
 영어     99
 무용    100
 Name: 김경태, dtype: int64)

In [69]:
df1.loc['김경태']['영어'], df1.iloc[0]['영어'] #, df1.iloc[0][1]

(np.int64(99), np.int64(99))

[원소/요소 추출]
    * 변수명.iloc[정수인덱스,열인덱스] / 변수명.loc[행인덱스,열인덱스]

In [70]:
df1

     음악  영어   무용
김경태  98  99  100
안효준  67  81   80

In [71]:
#  김경태님의 영어 점수만 추출 
df1.iloc[0,1]   
## => iloc[정수인덱스, 정수인덱스] : df1.iloc[0, '영어'] ERROR

np.int64(99)

In [72]:
df1.loc['김경태','영어']

np.int64(99)

In [73]:
## [문] 김경태님의 영어, 무용 점수 추출 
df1.loc['김경태',['영어','무용']]

영어     99
무용    100
Name: 김경태, dtype: int64

In [74]:
df1.loc['김경태'][['영어','무용']]

영어     99
무용    100
Name: 김경태, dtype: int64

In [75]:
df1.loc['김경태','음악':'무용':2]

음악     98
무용    100
Name: 김경태, dtype: int64

In [76]:
df1.loc['김경태',:]

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [77]:
df1.loc[:,'음악']

김경태    98
안효준    67
Name: 음악, dtype: int64

In [78]:
df1.loc[df1.index,'음악']

김경태    98
안효준    67
Name: 음악, dtype: int64